{% extends "busapp/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<style>
    .back-button {
        float: left;
    }
</style>
{% endblock %}
{% block content %}
{% if user.is_staff %}
    <a class="btn btn-primary rounded-circle mb-3 back-button" href="{% url 'admin_account' %}"><i class="fas fa-arrow-left"></i></a>
    {% else %}
    <a class="btn btn-primary rounded-circle mb-3 back-button" href="{% url 'user_account' %}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
<div class="container mb-5">
    
    <h2 class="text-center">My Bookings</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive bg-white p-3">
                <table class="table table-bordered table-sm table-hover" id="userbookings">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bus</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Customer Id No</th>
                            <th scope="col">Booking Date</th>
                            <th scope="col">Travel Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ booking.bus }}</td>
                            <td>{{ booking.customer_name }}</td>
                            <td>{{ booking.customer_email }}</td>
                            <td>{{ booking.customer_phone }}</td>
                            <td>{{ booking.customer_id_number }}</td>
                            <td>{{ booking.booking_date}}</td>
                            <td>{{ booking.bus.travel_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    console.log("Table exists:", $('#userbookings').length > 0);
    if ($('#userbookings').length > 0) {
        try {
            var table = $('#userbookings').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true
            });
            console.log("DataTable initialized:", table instanceof $.fn.dataTable.Api);
        } catch (error) {
            console.error("Error initializing DataTable:", error);
        }
    } else {
        console.error("Table #userbookings not found in the DOM");
    }
});
</script>
{% endblock %}